@import '~antd/dist/antd.less';

.ant-dropdown-menu {
  min-width: 150px !important;
  border-radius: 8px !important;
  filter: drop-shadow(0 -2px 10px rgb(51 51 51 / 5%)) drop-shadow(0 2px 10px rgb(51 51 51 / 5%)) !important;
}

.ant-dropdown-menu-title-content {
  color: #949494 !important;
}

.ant-btn.ant-btn-lg {
  padding: 10px 35px ;
  height: 44px;
  font-size: 14px;
  border-radius: 6px;
}